#gitPeek {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: 2px solid black;
		z-index: 10;
  	width: 800px;
  	max-height: 200px;
  	overflow-x: hidden;
		transform: translate(-110%, -50%);
}
